In [2]:
import os
import pandas as pd

# Merge excel files
path = "output/data_merged.xlsx"

dataset_df = pd.read_excel(path)

In [3]:
dataset_df.head()

,Unnamed: 0,CCAN,DATE,Status,TOT NET,Net Investment,31-60,61-90,91-120,120+,Past Due,Aging,Country,NA,NA2,NA3
0,0,320023,2016-01-01,LEGAL,1.534098e+09,15555962.86,0,0,0.00,1.5556e+07,15555962.86,120+,MEXICO,NaN,NaN,NaN
1,1,315112,2016-01-01,LEGAL,1.534098e+09,3265682.10,0,0,0.00,3.26568e+06,3265682.10,120+,MEXICO,NaN,NaN,NaN
2,2,309348,2016-01-01,REGULAR,1.534098e+09,3006305.90,0,356160,1678580.73,971565,3006305.90,120+,COSTA RICA,NaN,NaN,NaN
3,3,320248,2016-01-01,REGULAR,1.534098e+09,2874745.56,0,1.19118e+06,1683563.78,0,2874745.56,91-120,MEXICO,NaN,NaN,NaN
4,4,308247,2016-01-01,REGULAR,1.534098e+09,2556572.66,729814,0,1826758.77,0,2556572.66,91-120,GUATEMALA,NaN,NaN,NaN

In [4]:
data_df = dataset_df[['CCAN', 'DATE', 'Status', 'TOT NET', 'Net Investment', '31-60', '61-90', '91-120', '120+', 'Past Due', 'Aging', 'Country']]

count_data = data_df.count()

count_data

CCAN              140236
DATE              140237
Status            140234
TOT NET           140237
Net Investment    140237
31-60             124334
61-90             124324
91-120            124308
120+              124330
Past Due          125019
Aging             124909
Country           140237
dtype: int64

In [5]:
data_df = data_df.dropna(subset=['CCAN'])

count_data = data_df.count()

count_data

CCAN              140236
DATE              140236
Status            140233
TOT NET           140236
Net Investment    140236
31-60             124334
61-90             124324
91-120            124308
120+              124330
Past Due          125019
Aging             124908
Country           140236
dtype: int64

In [6]:
data_df['Status'].unique()

array(['LEGAL', 'REGULAR', nan, 'LEGAL  '], dtype=object)

In [7]:
data_df['Status'] = data_df['Status'].replace({'LEGAL  ': 'LEGAL'})

In [8]:
data_df['Status'] = data_df['Status'].fillna('REGULAR')

data_df['Status'].unique()

array(['LEGAL', 'REGULAR'], dtype=object)

In [9]:
count_data = data_df.count()

count_data

CCAN              140236
DATE              140236
Status            140236
TOT NET           140236
Net Investment    140236
31-60             124334
61-90             124324
91-120            124308
120+              124330
Past Due          125019
Aging             124908
Country           140236
dtype: int64

In [10]:
data_df.dtypes

CCAN                      object
DATE              datetime64[ns]
Status                    object
TOT NET                  float64
Net Investment           float64
31-60                     object
61-90                     object
91-120                   float64
120+                      object
Past Due                 float64
Aging                     object
Country                   object
dtype: object

In [11]:
data_df['31-60'] = data_df['31-60'].replace({'X': 0, 'x': 0})

In [12]:
data_df['61-90'] = data_df['61-90'].replace({'X': 0, 'x': 0})

In [13]:
data_df['120+'] = data_df['120+'].replace({'X': 0, 'x': 0})

In [14]:
data_df.dtypes

CCAN                      object
DATE              datetime64[ns]
Status                    object
TOT NET                  float64
Net Investment           float64
31-60                    float64
61-90                    float64
91-120                   float64
120+                     float64
Past Due                 float64
Aging                     object
Country                   object
dtype: object

In [15]:
data_df.count()

CCAN              140236
DATE              140236
Status            140236
TOT NET           140236
Net Investment    140236
31-60             124334
61-90             124324
91-120            124308
120+              124330
Past Due          125019
Aging             124908
Country           140236
dtype: int64

In [16]:
data_df['31-60'] = data_df['31-60'].fillna(0)

In [17]:
data_df['61-90'] = data_df['61-90'].fillna(0)

In [18]:
data_df['91-120'] = data_df['91-120'].fillna(0)

In [19]:
data_df['120+'] = data_df['120+'].fillna(0)

In [20]:
data_df['Past Due'] = data_df['Past Due'].fillna(data_df['31-60'] + data_df['61-90'] + data_df['91-120'] + data_df['120+'])

In [21]:
data_df.count()

CCAN              140236
DATE              140236
Status            140236
TOT NET           140236
Net Investment    140236
31-60             140236
61-90             140236
91-120            140236
120+              140236
Past Due          140236
Aging             124908
Country           140236
dtype: int64

In [22]:
data_df['Aging'].unique()

array(['120+', '91-120', '31-60', '61-90', '1-30', nan, '121+'],
      dtype=object)

In [23]:
data_df['Aging'] = data_df['Aging'].fillna('1-30')

data_df['Aging'].unique()

array(['120+', '91-120', '31-60', '61-90', '1-30', '121+'], dtype=object)

In [24]:
data_df['Aging'] = data_df['Aging'].replace({'121+': '120+'})

data_df['Aging'].unique()

array(['120+', '91-120', '31-60', '61-90', '1-30'], dtype=object)

In [25]:
data_df.count()

CCAN              140236
DATE              140236
Status            140236
TOT NET           140236
Net Investment    140236
31-60             140236
61-90             140236
91-120            140236
120+              140236
Past Due          140236
Aging             140236
Country           140236
dtype: int64

In [29]:
data_df.dtypes

CCAN                      object
DATE              datetime64[ns]
Status                    object
TOT NET                  float64
Net Investment           float64
31-60                    float64
61-90                    float64
91-120                   float64
120+                     float64
Past Due                 float64
Aging                     object
Country                   object
dtype: object

In [32]:
data_df['Country'].unique()

array(['MEXICO', 'COSTA RICA', 'GUATEMALA', 'REPUBLICA DOMINICANA',
       'ECUADOR', 'PANAMA', 'NICARAGUA', 'COLOMBIA', 'EL SALVADOR',
       'PUERTO RICO', 'HONDURAS', 'BELICE', 'SURINAME', 'HAITI',
       'JAMAICA', 'ANTILLAS PAISES BAJOS', 'TRINIDAD Y TOBAGO',
       'VENEZUELA', 'HO', 'BAHAMAS', 'R-82', 'GUYANA'], dtype=object)

In [33]:
data_df['Country'] = data_df['Country'].replace({'HO': 'HONDURAS', 'R-82': 'VENEZUELA'})
data_df['Country'].unique()

array(['MEXICO', 'COSTA RICA', 'GUATEMALA', 'REPUBLICA DOMINICANA',
       'ECUADOR', 'PANAMA', 'NICARAGUA', 'COLOMBIA', 'EL SALVADOR',
       'PUERTO RICO', 'HONDURAS', 'BELICE', 'SURINAME', 'HAITI',
       'JAMAICA', 'ANTILLAS PAISES BAJOS', 'TRINIDAD Y TOBAGO',
       'VENEZUELA', 'BAHAMAS', 'GUYANA'], dtype=object)

In [41]:
data_df['CCAN'] = data_df['CCAN'].astype('|S')
data_df.dtypes

CCAN                      object
DATE              datetime64[ns]
Status                    object
TOT NET                  float64
Net Investment           float64
31-60                    float64
61-90                    float64
91-120                   float64
120+                     float64
Past Due                 float64
Aging                     object
Country                   object
dtype: object

In [42]:
output_data_exc = "output/data_cleaned.xlsx"
output_data_csv = "output/data_cleaned.csv"

data_df.to_csv(output_data_csv)
data_df.to_excel(output_data_exc)