In [1]:
import os
import pandas as pd

# Merge excel files
path = "input/"
input_files = os.listdir(path)

files_xlsx = [f for f in input_files if f[-4:] == "xlsx"]

data_merged = pd.DataFrame()

for f in files_xlsx:
    data = pd.read_excel("input/" + f, sheet_name='TOTAL PAST DUE', 
                         skiprows=4, header=None)
    data_merged = data_merged.append(data)
    
data_merged.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,320023,2016-01-01,LEGAL,1.534098e+09,15555962.86,0,0,0.00,1.5556e+07,15555962.86,120+,MEXICO,NaN,NaN,NaN
1,315112,2016-01-01,LEGAL,1.534098e+09,3265682.10,0,0,0.00,3.26568e+06,3265682.10,120+,MEXICO,NaN,NaN,NaN
2,309348,2016-01-01,REGULAR,1.534098e+09,3006305.90,0,356160,1678580.73,971565,3006305.90,120+,COSTA RICA,NaN,NaN,NaN
3,320248,2016-01-01,REGULAR,1.534098e+09,2874745.56,0,1.19118e+06,1683563.78,0,2874745.56,91-120,MEXICO,NaN,NaN,NaN
4,308247,2016-01-01,REGULAR,1.534098e+09,2556572.66,729814,0,1826758.77,0,2556572.66,91-120,GUATEMALA,NaN,NaN,NaN

In [2]:
# Change headers
headers = ['CCAN', 'DATE', 'Status', 'TOT NET', 'Net Investment', '31-60', '61-90', '91-120', '120+', 'Past Due', 'Aging', 'Country', 'NA', 'NA2', 'NA3']
data_merged.columns = headers

data_merged.head()

,CCAN,DATE,Status,TOT NET,Net Investment,31-60,61-90,91-120,120+,Past Due,Aging,Country,NA,NA2,NA3
0,320023,2016-01-01,LEGAL,1.534098e+09,15555962.86,0,0,0.00,1.5556e+07,15555962.86,120+,MEXICO,NaN,NaN,NaN
1,315112,2016-01-01,LEGAL,1.534098e+09,3265682.10,0,0,0.00,3.26568e+06,3265682.10,120+,MEXICO,NaN,NaN,NaN
2,309348,2016-01-01,REGULAR,1.534098e+09,3006305.90,0,356160,1678580.73,971565,3006305.90,120+,COSTA RICA,NaN,NaN,NaN
3,320248,2016-01-01,REGULAR,1.534098e+09,2874745.56,0,1.19118e+06,1683563.78,0,2874745.56,91-120,MEXICO,NaN,NaN,NaN
4,308247,2016-01-01,REGULAR,1.534098e+09,2556572.66,729814,0,1826758.77,0,2556572.66,91-120,GUATEMALA,NaN,NaN,NaN

In [5]:
files_xlsx

['01-Jan-2016 Past Due Resumen por Cuenta.xlsx',
 '03-Mar-2015 Past Due Resumen Hoja Por Cuenta.xlsx',
 '04-Apr-2016 Resumen Hoja por Cuenta.xlsx',
 '12-Dec-2015 Resumen Hoja Por Cuenta Past Due.xlsx',
 'Past Due por Cuenta Feb 2016.xlsx',
 'Past Due por cuenta julio 2014.xlsx',
 'Past Due por Cuenta Junio 2014.xlsx',
 'Past Due Por Cuenta Mar 2016.xlsx',
 'Past Due por Cuenta May 2014.xlsx',
 'Past Due Resumen Hoja Por Cuenta Abril 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Agosto 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Apr 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Apr 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Apr 2020 - VF.xlsx',
 'Past Due Resumen Hoja Por Cuenta Aug 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Aug 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Aug 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Dec 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Dec 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Dec 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Diciembre 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Enero 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Feb 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Feb 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Feb 2020 - VF2.xlsx',
 'Past Due Resumen Hoja Por Cuenta Febrero 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jan 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jan 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jan 2020 - VF.xlsx',
 'Past Due Resumen Hoja por Cuenta Jul 2015.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jul 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jul 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jul 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jul 2020 - VF.xlsx',
 'Past Due Resumen Hoja Por Cuenta Julio 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jun 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jun 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jun 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Jun 2020 - VF.xlsx',
 'Past Due Resumen Hoja Por Cuenta Junio 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Mar 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Mar 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Mar 2020 - VF.xlsx',
 'Past Due Resumen Hoja Por Cuenta Marzo 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta May 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta May 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta May 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta May 2020 - VF.xlsx',
 'Past Due Resumen Hoja Por Cuenta Mayo 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Nov 2015.xlsx',
 'Past Due Resumen Hoja Por Cuenta Nov 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Nov 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Nov 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Noviembre 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Oct 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Oct 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Oct 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Octubre 2016.xlsx',
 'Past Due Resumen Hoja Por Cuenta Sep 2017.xlsx',
 'Past Due Resumen Hoja Por Cuenta Sep 2018.xlsx',
 'Past Due Resumen Hoja Por Cuenta Sep 2019.xlsx',
 'Past Due Resumen Hoja Por Cuenta Septiembre 2016.xlsx',
 'Past Due Resumen por Cuenta Abr 2015.xlsx',
 'Past Due Resumen Por Cuenta Oct 2015.xlsx',
 'Resumen Hoja por Cuenta Diciembre 2014-REV.xlsx',
 'Resumen Hoja Por Cuenta Feb 2015.xlsx',
 'Resumen Hoja por Cuenta Oct 2014-REV.xlsx',
 'Resumen Hoja Por Cuenta Past Due Ago 2015.xlsx',
 'Resumen Hoja por Cuenta Past Due Enero 2015.xlsx',
 'Resumen Hoja Por Cuenta past Due May 2015.xlsx',
 'Resumen Hoja por Cuenta Past Due Nov 2014-REV.xlsx',
 'Resumen Hoja por Cuenta Past Due Sep 2014-REV.xlsx',
 'Resumen Hoja Por Cuenta Past Due Sep 2015.xlsx',
 'Resumen Past Due por Cuenta Abr 2014.xlsx',
 'Resumen Past Due por Cuenta Junio 2015.xlsx',
 'Resumen por Cuenta Past Due Ago 2014.xlsx']

In [3]:
# Store merged dataframe
output_data_exc = "output/data_merged.xlsx"
output_data_csv = "output/data_merged.csv"

data_merged.to_csv(output_data_csv)
data_merged.to_excel(output_data_exc)