In [1]:
import os
import pandas as pd

path = "input/"
input_files = os.listdir(path)

files_xlsx = [f for f in input_files if f[-4:] == "xlsx"]
files_xlsx

data_merged = pd.DataFrame()

for f in files_xlsx:
    data = pd.read_excel("input/" + f, sheet_name='TOTAL PAST DUE', skiprows=3)
    data_merged = data_merged.append(data)
    
data_merged.head()

,CCAN,DATE,Status,TOT NET,Net Investment,31-60,61-90,91-120,120+,Past Due,Aging,Country,Unnamed: 12
0,320023,2017-04-01,LEGAL,1.488935e+09,9.826696e+06,0.00,0.00,0.00,9826696.12,9826696.12,120+,MEXICO,NaN
1,320703,2017-04-01,REGULAR,1.488935e+09,3.943437e+06,993172.12,1670673.09,971440.51,308151.21,3943436.93,120+,PANAMA,NaN
2,315628,2017-04-01,REGULAR,1.488935e+09,3.523179e+06,21559490.65,45523133.15,0.00,0.00,67082623.80,61-90,MEXICO,NaN
3,315112,2017-04-01,LEGAL,1.488935e+09,3.265682e+06,0.00,0.00,0.00,3265682.10,3265682.10,120+,MEXICO,NaN
4,335267,2017-04-01,REGULAR,1.488935e+09,3.092013e+06,3092012.69,0.00,0.00,0.00,3092012.69,31-60,MEXICO,NaN

In [2]:
#Store merged dataframe
output_data_exc = "output/data_merged.xlsx"
output_data_csv = "output/data_merged.csv"

data_merged.to_csv(output_data_csv)
data_merged.to_excel(output_data_exc)