In [9]:
import os
import pandas as pd

path = "input/"
input_files = os.listdir(path)

files_xlsx = [f for f in input_files if f[-4:] == "xlsx"]
files_xlsx

data_merged = pd.DataFrame()

for f in files_xlsx:
    data = pd.read_excel("input/" + f, sheet_name='PORT', skiprows=6, header=None)
    data_merged = data_merged.append(data)
    
data_merged

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,1,001-3618212-005,2018-04-01,R-82,NaN,DEALER - WHOLESALE,REGULAR,USD,127954.21,127954.21,...,127954.21,0.0,0.0,0.0,0.0,0.0,0,$0.00,NaN,NaN
1,1,001-3618212-006,2018-04-01,R-82,NaN,DEALER - WHOLESALE,REGULAR,USD,32127.81,32127.81,...,32127.81,0.0,0.0,0.0,0.0,0.0,0,$0.00,NaN,NaN
2,1,001-3618212-007,2018-04-01,R-82,NaN,DEALER - WHOLESALE,REGULAR,USD,324016.22,324016.22,...,324016.22,0.0,0.0,0.0,0.0,0.0,0,$0.00,NaN,NaN
3,1,001-3618212-008,2018-04-01,R-82,NaN,DEALER - WHOLESALE,REGULAR,USD,43598.66,43598.66,...,43598.66,0.0,0.0,0.0,0.0,0.0,0,$0.00,NaN,NaN
4,1,001-3618212-009,2018-04-01,R-82,NaN,DEALER - WHOLESALE,REGULAR,USD,625777.23,625777.23,...,625777.23,0.0,0.0,0.0,0.0,0.0,0,$0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,720,720-40001091,2019-09-01,1541545,NaN,CUSTOMER - RETAIL,REGULAR,USD,20099.83,20099.83,...,20099.83,0.0,0.0,0.0,0.0,0.0,0,$0.00,0,NaN
4532,720,720-40001092,2019-09-01,1538696,NaN,CUSTOMER - RETAIL,REGULAR,USD,260287.80,260287.80,...,260287.80,0.0,0.0,0.0,0.0,0.0,0,$0.00,0,NaN
4533,720,720-40001094,2019-09-01,320648,NaN,CUSTOMER - RETAIL,REGULAR,USD,92147.55,92147.55,...,92147.55,0.0,0.0,0.0,0.0,0.0,0,$0.00,0,NaN
4534,720,720-40001095,2019-09-01,1538841,NaN,CUSTOMER - RETAIL,REGULAR,USD,50826.02,50826.02,...,50826.02,0.0,0.0,0.0,0.0,0.0,0,$0.00,0,NaN
4535,720,720-40001099,2019-09-01,806401,NaN,CUSTOMER - RETAIL,REGULAR,USD,80059.89,80059.89,...,80059.89,0.0,0.0,0.0,0.0,0.0,0,$0.00,0,NaN

In [10]:
output_data_exc = "output/data_merged.xlsx"
output_data_csv = "output/data_merged.csv"

data_merged.to_csv(output_data_csv)
data_merged.to_excel(output_data_exc)